.stickySection {
  display: flex;
}

.stickyFormWrapper {
  position: relative;
  top: 20px;
  height: fit-content;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 30px;
  border-radius: 10px;
}

.sticky {
  position: fixed;
  top: 20px;
  width: 405px;
}


@media (width < 1400px) {

  .sticky {
    width: 345px;
  }

}

@media (width < 1200px) {

  .sticky{
    width: 290px;
  }
  
  .stickyFormWrapper{
    padding: 15px;
  }
}