.aboutWrapper h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: start;
}

.aboutWrapper p {
    margin-top: 30px;
    font-size: 18px;
    color: #42474D;
    text-align: justify;
}

.aboutBtn button {
    font-size: 20px;
    margin-top: 60px;
}


.bgWrapper {
    width: 100%;
    height: 330px;
    background-color: #fad47ce6;
    border-radius: 100%;
}

.bgimgWrapper {
    top: 30px;
    left: 30px;
}

.bgimgWrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.imgDetail h5 {
    font-size: 18px;
    font-weight: 600;
}

.imgDetail h6 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    color: #a98927;
}

@media (width < 1400px) {
    .aboutWrapper h4 {
        font-size: 28px;
    }

    .aboutWrapper p {
        font-size: 17px;
    }

    .bgWrapper {
        height: 270px;
    }

    .bgimgWrapper img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .aboutBtn button {
        margin-top: 30px;
    }


}

@media (width < 1200px) {
    .aboutWrapper h4 {
        font-size: 26px;
    }


    .aboutWrapper p {
        font-size: 16px;
        text-align: start;

    }

    .aboutBtn button {
        font-size: 18px;
    }

    .aboutWrapper {
        text-align: start;
        margin: 20px 0px;
    }

    .bgWrapper {
        height: 230px;
    }

    .bgimgWrapper img {
        width: 200px;
        height: 200px;
    }


}

@media (width < 992px) {
    .aboutWrapper {
        text-align: center;
    }

    .aboutWrapper h4 {
        font-size: 24px;
    }

    .aboutWrapper p {
        font-size: 15px;
    }

    .aboutimgWrapper {
        margin-top: 40px;
    }


    .bgWrapper {
        width: 400px;
        height: 400px;
        margin: 0px 150px;
    }

    .bgimgWrapper {
        top: 101px;
        left: 212px;
    }

    .bgimgWrapper img {
        width: 300px;
        height: 300px;
    }
}

@media (width < 768px) {
    .aboutWrapper h4 {
        font-size: 22px;
    }

    .aboutWrapper p {
        font-size: 14px;
    }

    .aboutBtn button {
        font-size: 16px;
    }

    .bgWrapper {
        margin: 0px 110px;
        width: 300px;
        height: 300px;
    }


    .bgimgWrapper {
        top: 0px;
        left: 118px;
    }
}

@media (width < 576px) {
    .aboutWrapper h4 {
        font-size: 20px;
    }

    .aboutWrapper p {
        font-size: 13px;
    }

    .aboutBtn button {
        font-size: 14px;
    }

    .bgWrapper {
        margin: 0px;
        width: 100%;
        height: 360px;
    }

    .bgimgWrapper {
        left: 27px;
        height: 280px;
        margin: 0px;
        top: 3%;

    }

    .bgimgWrapper img {
        width: 350px;
        height: 350px;
    }
}



@media (width < 400px) {

    .bgWrapper {

        height: 300px;
    }

    .bgimgWrapper {
        left: 38px;
        top: 14%;
    }

    .bgimgWrapper img {
        width: 250px;
        height: 250px;
    }

}